<md-content flex>
    <md-toolbar class="md-theme-primary champs-content-toolbar">
        <h1 class="md-toolbar-tools">Lolcomp - Edit Relations Rules</h1>
    </md-toolbar>
    <div layout="column"
         layout-align="top center"
         layout-fill>
        <div class="relations-new-btn-container"
             layout="row">
            <md-button class="md-raised relations-button"
                       ng-click="panels.relations.add_relation()">New relation</md-button>
            <md-button class="md-raised relations-button"
                       ng-click="panels.relations.clear_relations()">Clear All</md-button>
        </div>
        <lc-panel class="relations-lc-panel"
                  ng-show="panels.relations.model.length !== 0"
                  lc-title="panels.relations.title"
                  layout-align="vertical" flex>
            <table class="internal-table">
                <thead>
                    <tr>
                        <th>type</th>
                        <th>description</th>
                        <th>k1</th>
                        <th>k2</th>
                        <th>label</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="internal-table-hover">
                    <tr ng-repeat="relation in panels.relations.model">
                        <td ng-hide="panels.relations.selected === $index"
                            class="relations-type">{{relation.type}}</td>
                        <td ng-show="panels.relations.selected === $index"
                            class="relations-type">
                            <select ng-options="v as v for (k, v) in cst.type"
                                    ng-model="panels.relations.edit_model.type"></select>
                        </td>
                        
                        <td ng-hide="panels.relations.selected === $index"
                            class="relations-desciption">{{relation.description}}</td>
                        <td ng-show="panels.relations.selected === $index"
                            class="relations-desciption">
                            <textarea ng-model="panels.relations.edit_model.description"></textarea>
                        </td>
                        
                        <td ng-hide="panels.relations.selected === $index">
                            <div ng-if="relation.k1.obj_type == 'tag'">
                                {{relation.k1.data}}
                            </div>
                            <div ng-if="relation.k1.obj_type == 'exception'">
                                {{relation.k1.data.champ}} {{relation.k1.data.skill}}
                            </div>
                        </td>
                        <td ng-show="panels.relations.selected === $index"
                            class="relations-input">
                            <lc-edit-rel-obj-type lc-edit-model="panels.relations.edit_model.k1"
                                                  lc-original="relation.k1"></lc-edit-rel-obj-type>
                        </td>
                        
                        <td ng-hide="panels.relations.selected === $index">
                            <div ng-if="relation.k2.obj_type == 'tag'">
                                {{relation.k2.data}}
                            </div>
                            <div ng-if="relation.k2.obj_type == 'exception'">
                                {{relation.k2.data.champ}} {{relation.k2.data.skill}}
                            </div>
                        </td>
                        <td ng-show="panels.relations.selected === $index"
                            class="relations-input">
                            <lc-edit-rel-obj-type lc-edit-model="panels.relations.edit_model.k2"
                                                  lc-original="relation.k2"></lc-edit-rel-obj-type>
                        </td>
                        
                        <td ng-hide="panels.relations.selected === $index"
                            class="relations-label">{{relation.label}}</td>
                        <td ng-show="panels.relations.selected === $index"
                            class="relations-label">
                            <input type="text"
                                   ng-model="panels.relations.edit_model.label"></input>
                        </td>
                        
                        <td ng-hide="panels.relations.selected === $index"
                            layout="row">
                            <md-button class="md-raised relations-button"
                                       ng-click="panels.relations.select_relation($index)">Edit</md-button>
                            <md-button class="md-raised relations-button"
                                       ng-click="panels.relations.delete_relation($index)">Del</md-button>
                        </td>
                        <td ng-show="panels.relations.selected === $index"
                            layout="row">
                            <md-button class="md-raised relations-button"
                                       ng-click="panels.relations.save_changes($index)">Save</md-button>
                            <md-button class="md-raised relations-button"
                                       ng-click="panels.relations.cancel_changes($index)">Cancel</md-button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </lc-panel>
    </div>
</md-content>