/* Adapted from: http://jsfiddle.net/h4JXs/1056/ */

.led {
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}
.led-green {
    background-color: #80FF00;
    @include box-shadow((
              #F2FFE6 0 -1px 6px 1px,
        inset #78B400 0 -1px 8px,
              #80FF00 0 3px 11px
    ));
}
.led-blue {
    background-color: #0066FF;
    @include box-shadow((
              #E6F0FF 0 -1px 6px 1px,
        inset #00A2ED 0 -1px 8px,
              #0066FF 0 3px 11px
    ));
}
.led-orange {
    background-color: #FF7000;
    @include box-shadow((
              #FFF1E6 0 -1px 6px 1px,
        inset #A46800 0 -1px 8px,
              #FF7000 0 3px 11px
    ));
}
.led-red {
    background-color: #F00;
    @include box-shadow((
              #FEE6E6 0 -1px 6px 1px,
        inset #600000 0 -1px 8px,
              #F00000 0 3px 11px
    ));
}