.champs-container {
    height: 100%;
}
.champs-content-toolbar {
    font-family: $font-title;
    
    z-index: 60;
}
.champs-row {
    padding: 5px 0;
}

.md-button.md-default-theme:hover:not([disabled]), .md-button.md-default-theme:focus:not([disabled]) {
    background-color: #F9F9F9;
}
.champs-info-indicator {
    margin: 0 20px;
}
.champs-button {
    max-width: 300px;
    width: 60%;
}
.champs-update-no-led {
    margin-left: 52px;
}