.champs-container {
    height: 100%;
}
.champs-panel .lc-panel-content {
    min-height: 90px;
}
.champs-content-toolbar {
    font-family: $font-title;
    
    z-index: 60;
}
.champs-row {
    padding: 5px 0;
}

.champs-info-indicator {
    margin: 0 20px;
}
.champs-update-no-led {
    margin-left: 52px;
}
.champs-btn-container {
    text-align: center;
}