.relations-row {
    padding: 10px 0;
}
.relations-lc-panel {
    margin-top: 0 !important;
    
    .lc-panel-content {
        padding: 0;
    }
}
.relations-input {
    max-width: 100px;
    
    textarea {
        width: 100%;
        margin-left: -4px;
    }
}
.relations-new-btn-container {
    margin: 10px 16px;
}
.relations-button {
    max-width: 150px;
    width: 60%;
    
    margin: 10px;
}