/* button colors */
.lc-synergy {
    color: $color-purple;
    span {
        border-color: $color-purple !important;        
    }
}
.lc-blue {
    color: $color-blue;
    span {
        border-color: $color-blue !important;
    }
}
.lc-red {
    color: $color-red;
    span {
        border-color: $color-red !important;
    }
}
.lc-black {
    background-color: #000 !important;
}

/* expand|collapse */
.lc-other-team,
.lc-info,
.lc-img {
    height: 0;
    @include transition(all .6s);
}
.lc-expanded {
    .lc-img {
        height: 243px !important;
    }
    .lc-other-team,
    .lc-info {
        height: 216px !important;
    }
}
.lc-info-blue {
    margin-right: -16px;
}
.lc-info-red {
    padding-left: 0;
    margin-right: -30px;
    padding-right: 10px;
}


.lc-skill-img,
.lc-other-team-member,
.lc-img {
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.lc-active span {
    border-bottom: 2px solid #fff;
}

.lc-info {
    overflow-y: scroll;
    
    .md-header {
        display: none;
    }
}
.lc-subnav {
    text-align: center;
    span {
        padding: 10px;
        font-weight: 600;
    }
}
.lc-subnav-btn {
    cursor: hand;
    cursor: pointer;
}
.lc-info-content {
    padding-top: 0 !important;
}
.lc-info-tab-content {
    min-height: 200px;
    border-bottom: 2px solid #1a1a1a;
}
.lc-info-content,
.lc-info-tabs,
.lc-info-tab-content {
    background-color: #000 !important;
    color: #fff;
}
.lc-champ-row {
    width: 500px;
    border-top: 2px solid $color-border;
    border-bottom: 2px solid $color-border;
    background-color: #000;
}

.lc-other-team {
    overflow: hidden;
    background-color: #000;
}

.lc-skill-img,
.lc-other-team-member {
    height: 40px;
    margin: 4px;
}

.icon-cross {
    display:none;
}
.lc-subnav:hover {
    .icon-cross {
        display: inherit;
    }
}

.lc-breakdown-champ-title {
    margin: 40px 0 0 0;
}