<div>
    <md-toolbar 
        class="lc-subnav lc-black"
        md-scroll-shrink
        layout="row"
        layout-align="center center">
        <div class="remove-champ"
             flex="10"
             flex-order="{{get_pos(1, 4)}}">
            <span class="icon-cross"
                  ng-click="lcRemove(lcSide, lcIndex)"></span>
        </div>
        <div class="lc-champ-title"
             flex="30"
             flex-order="{{get_pos(2, 4)}}"
             ng-class="{'lc-active' : settings.selected === 0 && lcModel.expanded === true}"
             ng-click="toggle_expand(0)">
            <span>{{lcModel.name || '-'}}</span>
        </div>
        <div flex="30"
             flex-order="{{get_pos(3, 4)}}"
             ng-class="{'lc-active' : settings.selected === 1}"
             class="lc-synergy"
             ng-click="toggle_expand(1)">
            <span>Synergy</span></div>
        <div flex="30"
             flex-order="{{get_pos(4, 4)}}"
             ng-class="{'lc-active' : settings.selected === 2,
             'lc-blue' : lcSide==='blue',
             'lc-red' : lcSide==='red'}"
             ng-click="toggle_expand(2)">
            <span>Counters</span></div>
    </md-toolbar>

    <div class="lc-champ-row"
         ng-class="{'lc-expanded' : lcModel.expanded===true}"
         layout="row"
         layout-align="center start">
        <div class="lc-img"
             ng-style="{'background-image': images_url.champ()}"
             flex-order="{{get_pos(2, 4)}}"
             flex="30"
             ng-click="lcModel.expanded = false; settings.selected = 0;">
        </div>

        <div class="lc-info"
             ng-class="{'lc-info-red' : lcSide==='red',
                        'lc-info-blue': lcSide==='blue'}"
             flex-order="{{get_pos(3, 4)}}"
             flex="60">
            <md-content class="md-padding lc-info-content">
                <md-tabs md-dynamic-height md-border-bottom
                         md-selected="settings.selected"
                         md-stretch-tabs="never"
                         class="lc-info-tabs">
                    <md-tab label="info"
                            ng-click="toggle_expand(0)">
                        <md-content class="md-padding lc-info-tab-content"
                                    layout="column">
                            <h1 class="md-display-2">Stats</h1>
                            <p>Stats Stats Stats</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="synergy"
                            ng-click="toggle_expand(1)">
                        <md-content class="md-padding lc-info-tab-content">
                            <div ng-repeat="obj in settings.my_team">
                                <div ng-if="obj.name && obj.name !== lcModel.name">
                                    <h4 class="md-display-2 lc-breakdown-champ-title">with {{obj.name}}</h4>
                                    <div ng-repeat="v in report.get_section(lcModel.name, obj.name, 'Synergy')">{{v}}</div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="counter"
                            ng-click="toggle_expand(2)">
                        <md-content class="md-padding lc-info-tab-content">
                            <div ng-repeat="obj in settings.enemy_team">
                                <h4 class="md-display-2 lc-breakdown-champ-title"
                                    ng-if="obj.name">vs {{obj.name}}</h4>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

        <div class="lc-other-team"
             ng-class="{'hide-cover' : lcSide==='red'}"
             flex-order="{{get_pos(4, 4)}}"
             flex="10"
             ng-click="lcModel.expanded = false; settings.selected = 0;">
            <div class="lc-skill-img"
                 ng-repeat="v in spells"
                 ng-style="{'background-image': images_url.spell(v)}"></div>
        </div>

    </div>
</div>