<div>
    <md-toolbar 
        class="lc-subnav lc-black"
        md-scroll-shrink
        layout="row"
        layout-align="center center">
        <div class="lc-subnav-btn remove-champ"
             flex="10"
             flex-order="{{get_pos(1, 4)}}">
            <span class="icon-cross"
                  ng-click="lcRemove(lcSide, lcIndex)"></span>
        </div>
        <div class="lc-subnav-btn lc-champ-title"
             flex="30"
             flex-order="{{get_pos(2, 4)}}"
             ng-class="{'lc-active' : settings.selected === 0 && lcModel.expanded === true}"
             ng-click="toggle_expand(0)">
            <span ng-if="!settings.loading">{{lcModel.name || '-'}}</span>
            <span ng-if="settings.loading"
                  layout="row"
                  layout-align="center center">
                <md-progress-circular
                    class="lc-subnav-spinner md-accent"
                    md-mode="indeterminate"></md-progress-circular>
            </span>
        </div>
        <div class="lc-subnav-btn lc-synergy"
             flex="30"
             flex-order="{{get_pos(3, 4)}}"
             ng-class="{'lc-active' : settings.selected === 1}"
             ng-click="toggle_expand(1)">
            <span>Synergy</span></div>
        <div class="lc-subnav-btn"
             flex="30"
             flex-order="{{get_pos(4, 4)}}"
             ng-class="{'lc-active' : settings.selected === 2,
             'lc-blue' : lcSide==='blue',
             'lc-red' : lcSide==='red'}"
             ng-click="toggle_expand(2)">
            <span>Counters</span></div>
    </md-toolbar>

    <div class="lc-champ-row"
         ng-class="{'lc-expanded' : lcModel.expanded===true}"
         layout="row"
         layout-align="center start">
        <div class="lc-img"
             ng-style="{'background-image': settings.background_urls.champ}"
             flex-order="{{get_pos(2, 4)}}"
             flex="30"
             ng-click="lcModel.expanded = false; settings.selected = 0;">
        </div>

        <div class="lc-info"
             ng-class="{'lc-info-red' : lcSide==='red',
                        'lc-info-blue': lcSide==='blue'}"
             flex-order="{{get_pos(3, 4)}}"
             flex="60">
            <md-content class="md-padding lc-info-content">
                <md-tabs md-dynamic-height md-border-bottom
                         md-selected="settings.selected"
                         md-stretch-tabs="never"
                         class="lc-info-tabs">
                    <md-tab label="info"
                            ng-click="toggle_expand(0)">
                        <md-content class="md-padding lc-info-tab-content"
                                    layout="column">
                            <h1 class="md-display-2">Stats</h1>
                            <p>Coming soon !!</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="synergy"
                            ng-click="toggle_expand(1)">
                        <md-content class="md-padding lc-info-tab-content">
                            <div ng-repeat="obj in settings.my_team">
                                <div ng-if="obj.name && obj.name !== lcModel.name">
                                    <h4 class="md-display-2 lc-breakdown-champ-title"
                                        layout="column">
                                        <span>with {{obj.name}}</span>
                                        <span ng-if="!settings.synergy[obj.name]">None</span>
                                    </h4>
                                    <div class="relation-obj"
                                         ng-repeat="v in settings.synergy[obj.name]">
                                        <div ng-bind-html="create_relation_elem(v)"></div>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="counter"
                            ng-click="toggle_expand(2)">
                        <md-content class="md-padding lc-info-tab-content">
                            <div ng-repeat="obj in settings.enemy_team">
                                <div ng-if="obj.name && obj.name !== lcModel.name">
                                    <h4 class="md-display-2 lc-breakdown-champ-title"
                                        layout="column">
                                        <span>vs {{obj.name}}</span>
                                        <span ng-if="!report.model[lcModel.name]['Counter'][obj.name]">None</span>
                                    </h4>
                                    <div class="relation-obj"
                                         ng-repeat="v in settings.counter[obj.name]">
                                        <div ng-bind-html="create_relation_elem(v)"></div>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

        <div class="lc-other-team"
             ng-class="{'hide-cover' : lcSide==='red'}"
             flex-order="{{get_pos(4, 4)}}"
             flex="10">
            <div class="lc-skill-img"
                 ng-repeat="v in spells"
                 ng-style="{'background-image': settings.background_urls[v]}"></div>
        </div>

        <div flex></div>
    </div>
</div>