{% load static from staticfiles %}

<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>Lolcomp</title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.min.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="ParentCtrl">
        
        <ng-view flex></ng-view>
        
        <script src="{% static 'main.min.js' %}"></script>
    </body>
</html>
