{% load static from staticfiles %}

<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>Lolcomp</title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.min.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="ParentCtrl"
          layout="column"
          layout-fill
          layout-align="start center">
    <md-content>
        <section class="top-fold"
                 layout="row"
                 layout-align="center center">
            <div class="code-wukong"
                 flex="33"
                 layout="row"
                 layout-align="center center">
                <img src="{% static 'img/codewukong.png' %}"></img>
            </div>
            <div class="site-title"
                 flex="33">
                LOLCOMP
            </div>
            <div flex="33"></div>

        </section>

        <nav class="navbar"
             affix
             layout="row"
             layout-align="start center">
            <div>
                <a class="navbar-item"
                   ng-repeat="item in navbar.model"
                   ng-click="navbar.go_to(item.url)"
                   ng-bind="item.text"></a>
            </div>
        </nav>

        <ng-view flex
                 layout-fill></ng-view>

        <div class="gap"></div>
    </md-content>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62072012-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="{% static 'main.min.js' %}"></script>
</body>
</html>
