@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v5j484');
	src:url('fonts/icomoon.eot?#iefixv5j484') format('embedded-opentype'),
		url('fonts/icomoon.woff?v5j484') format('woff'),
		url('fonts/icomoon.ttf?v5j484') format('truetype'),
		url('fonts/icomoon.svg?v5j484#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-mail:before {
	content: "\ea84";
}

.icon-github:before {
	content: "\eab2";
}

.icon-reddit:before {
	content: "\eac7";
}

