{% load static from staticfiles %}

<!DOCTYPE html>
<html ng-app="sitedown">
    <head>
        <title>Lolcomp - sitedown</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'sitedown.min.css' %}">
    </head>
    <body ng-controller=""ParentCtrl">
        <div>TODO write content sitedown</div>
        
        
        <script src="{% static 'sitedown.min.js' %}"></script>
    </body>
</html>
