.foreword {
    margin: 40px;
}
.champ-selection {
    lc-champion-row {
        border-bottom: 1px solid rgba(0,0,0,0.8);
    }
    .champ-list {
        margin: 0 20px;
        
        background-color: #fff;
        
        border-radius: 4px;
        border: 10px solid $color-border;
    }
    .quick-select {
        background-color: #000;
    }
}