{% load static from staticfiles %}

<!DOCTYPE html>
<html ng-app="internal">
    <head>
        <title>Lolcomp</title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'internal.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="ParentCtrl"
          layout="row">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    flex
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-primary sidebar-toolbar">
                <h1 class="md-toolbar-tools">
                    <a href="https://www.lolcomp.net/"
                       target="_blank">Internal Console</a></h1>
            </md-toolbar>
            <md-content class="sidebar-content"
                        flex
                        style="background-image: url('{% static 'img/codewukong.png' %}')">
                <ul class="sidebar-list">
                    <li class="sidebar-item"
                        layout="row" layout-align="start center"
                        ng-class="{ 'sidebar-active' : static.is_active(obj.url) }"
                        ng-repeat="obj in sidebar.model">
                        {% verbatim %}
                        <md-button ng-href="{{obj.url}}"
                                   target="{{obj.new_page && '_blank' || '' }}"
                                   aria-label="{{obj.label}}">
                            <span class="sidebar-icon icon-radio-checked"
                                  ng-if="static.is_active(obj.url) === true"></span>
                            <span class="sidebar-icon icon-radio-unchecked"
                                  ng-if="static.is_active(obj.url) === false"></span>
                            {{obj.label}}</md-button></li>
                       {% endverbatim %}
                </ul>
            </md-content>
        </md-sidenav>

        <ng-view flex></ng-view>
        
        <script src="{% static 'internal.min.js' %}"></script>
    </body>
</html>
