<section class="foreword"
         layout="row">
    <div flex="20"></div>
    <div flex="60">
        <h1>4/17/15</h1>
        <p>Thank you for visiting Lolcomp.net! This is our alpha release. To use Lolcomp, first add champions to each team by using the search field above each list.</p>
        <p><strong>Synergy</strong> will tell you all* mechanical interactions between the selected and its team members.</p>
        <p><strong>Counters</strong> will tell you all* mechanical interactions between the selected and the entire enemy team</p>
        <p>* Mechanical interactions are defined as <strong>relations</strong> on this website. These relations are created based off a set of rules than can be seen <a href="/rules/relations">Here</a>. (currently only 2 rules about channel skills, knockup, and synergy with Yasuo R)</p><a href="/about">Read more</a>
    </div>
    <div flex="20"></div>
</section>

<section layout="row"
    layout-align="center center"
    ng-if="settings.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</section>

<section class="champ-selection"
         ng-if="!settings.loading"
         layout="row"
         layout-align="center start">
    <div class="champ-list md-whiteframe-z2"
         layout="column">
        <lc-quick-select
            class="quick-select"
            lc-side="blue"
            lc-static="static"
            lc-model="selection"></lc-quick-select>
        <lc-champion-row 
            ng-repeat="obj in selection.model.blue"
            lc-side="blue"
            lc-model="obj"
            lc-teams="selection.model"
            lc-remove="selection.remove"
            lc-index="$index"
            lc-static="static"></lc-champion-row>
    </div>
    <div class="champ-list md-whiteframe-z2"
         layout="column">
        <lc-quick-select 
            class="quick-select"
            lc-side="red"
            lc-static="static"
            lc-model="selection"></lc-quick-select>
        <lc-champion-row 
            ng-repeat="obj in selection.model.red"
            lc-side="red"
            lc-model="obj"
            lc-teams="selection.model"
            lc-remove="selection.remove"
            lc-index="$index"
            lc-static="static"></lc-champion-row>
    </div>

</section>

<div ng-show="settings.loading"
     class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>