<md-content flex>
    <md-toolbar class="md-theme-primary champs-content-toolbar">
        <h1 class="md-toolbar-tools">Lolcomp - Edit Champs</h1>
    </md-toolbar>
    <div layout="column"
         layout-align="top center"
         layout-fill>
        <lc-panel lc-title="panels.info.title">
            <div ng-hide="panels.loading"
                 layout="row">
                <div layout="row" layout-align="start center"
                     flex="50">
                    <div class="champs-info-indicator">
                        <lc-led ng-class="{'led-red' : panels.info.status() === false,
                                           'led-green' : panels.info.status() === true}"></lc-led></div>
                    <span ng-if="panels.info.status() === true"
                          flex>Lolcomp is on the latest patch</span>
                    <span ng-if="panels.info.status() === false"
                          flex>Lolcomp needs to be updated to Patch {{panels.info.latest_patch}}</span>
                </div>
                <span layout="row" layout-align="start center"
                      flex="50">Patch Installed:&nbsp;<strong>{{panels.info.current_patch || '-'}}</strong></span>
            </div>
        </lc-panel>

        <lc-panel lc-title="panels.update_champs.title">
            <div class="champs-row"
                 layout="row" layout-align="start center">
                <div layout="row" layout-align="start center"
                     flex="50">
                    <div class="champs-info-indicator">
                        <lc-led ng-class="{'led-red' : panels.info.current_patch !== panels.info.latest_patch,
                                'led-green' : panels.info.current_patch === panels.info.latest_patch}"></lc-led></div>
                    <div flex>
                        <span ng-if="panels.update_champs.status === true">Good</span>
                        <span ng-if="panels.update_champs.status === false">Current dataset is up to date</span>
                    </div>
                </div>
                <div flex="50">
                    <md-button class="md-raised champs-button"
                               ng-click="panels.update_champs.execute()">Update</md-button>
                </div>
            </div>
            <div class="champs-row"
                 layout="row">
                <span class="champs-update-no-led"
                      flex="50">Last Updated: <strong>{{_helpers.format_date(panels.info.time_last_updated)}}</strong>
                </span>
            </div>
        </lc-panel>

        <lc-panel lc-title="panels.analyze_champs.title">
            <div layout="row" layout-align="start center">
                <div layout="row" layout-align="start center"
                     flex="50">
                    <div class="champs-info-indicator">
                        <lc-led ng-class="{'led-red' : panels.analyze_champs.status == false,
                                'led-green' : panels.analyze_champs.status == true}"></lc-led></div>
                    <div flex>
                        <span ng-if="panels.analyze_champs.status === true">Good</span>
                        <span ng-if="panels.analyze_champs.status === false">Current dataset needs to be analyzed</span>
                    </div>
                </div>
                <div flex="50">
                    <md-button class="md-raised champs-button"
                               ng-click="panels.analyze_champs.execute()">Analyze</md-button>
                </div>
            </div>
            <div class="champs-row"
                 layout="row">
                <span class="champs-update-no-led"
                      flex="50">Last Updated: <strong>{{_helpers.format_date(panels.info.time_last_analyzed)}}</strong>
                </span>
            </div>
        </lc-panel>

    </div>
    <div flex></div>
</md-content>